* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}


h1 {
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    color: white;
}

#header p {
    text-decoration: underline;
    color: aquamarine;
    font-size: 16px;  
}

#header {
    text-align: center;
}